/* optimize-start */
body {
  font-family: ubuntu;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
}
.h1 {
text-align: left;
font-size: 72px;
line-height: 94px;
letter-spacing: 1px;
text-align: left;
color: #1e212c;
}
.definition-block {
font-size: 20px;
line-height: 30px;
text-align: left;
color: #787A80;
}
.h2 {
  text-align: center;
  font-size: 46px;
  line-height: 88px;
  color: #1e212c;
}
.button {
  padding: 17px 35px;
  background-color: #ff5a30;
  border-radius: 4px;
  border: none;
  text-transform: uppercase ;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
}
.button--transparent {
  background-color: transparent;
  border: 1px solid #ff5a30;
  color: #ff5a30;
}
/* optimize-end */

/* header-start */
.header {
  display: flex;
  justify-content: space-between;
}
.header-nav__logo {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.header-nav__list {
  display: flex;
}
.header__navbar {
  display: flex;
  align-self: center;
}
.header-nav__item {
  font-size: 16px;
  font-weight: bold;
  line-height: 25.6px;
  color: #424551;
}
.header-nav__item:not(:last-child) {
  margin-right: 41px
}
.header-nav__link {
  padding:25px 0px;
}
/* header-contacts-start */
.header__contacts {
  display: flex;
  padding: 24px 0px;
  column-gap: 35px;
}
.header-contacts__contact {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.header-contacts__icon {
  grid-row: 1/3;
  align-self: center;
} 
.header-contacts__action {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
  color: #424551;
}
.header-contacts__address {
  grid-column: 2/3;
  font-size: 18px;
  line-height: 27px;
  color: #1e212c;
}
/* header-contacts-end */
/* header-end */

/* first-screen-start */
.first-screen {
  padding-bottom: 350px;
  background-image: url(../image/background-image.jpg);
  background-size: cover;
}
.first-screen__title {
  padding-top: 219px;
  width: 577px;
  color: #ffffff;
}
.first-screen__title--orange {
  color: #ff5a30;
}
.first-screen__definition {
  padding: 23px 0px 60px 0px;
  width: 595px;
  color: #ffffff;
}
.button--transparent-white {
  margin-right: 18px;
  border-color: #ffffff;
  color: #ffffff;
}
.first-screen__scroll-button {
  position: absolute;
  top: 566px;
  padding: 8px 9px;
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
}
.first-screen__scroll-button--left {
  left: 3%
}
.first-screen__scroll-button--right {
  right: 3%;
}
/* first-screen-end */